body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}
h1{

font-size: 562.5%;
  margin-top: 0;
}
div {
  background-color: #E4F9F5;
}
.top-container{
position: relative;
padding-top: 100px;

}

.bottom-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-cloud{
  position: absolute;
left: 300px;
bottom: 300px;
}
